<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="slimCat.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib" />
    </assemblyBinding>
    <legacyUnhandledExceptionPolicy enabled="1" />
  </runtime>
  <userSettings>
    <slimCat.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="SaveLogin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowStillRunning" serializeAs="String">
        <value>True</value>
      </setting>
    </slimCat.Properties.Settings>
  </userSettings>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4" useGlobalLock="false">
      <listeners>
        <add name="textListener"
             type="System.Diagnostics.TextWriterTraceListener"
             initializeData="trace.log"
             traceOutputOptions="Timestamp"/>
      </listeners>
    </trace>
    <switches>
      <add name="Default" value="Info"/>
    </switches>
  </system.diagnostics>
</configuration>