<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib" />
    </assemblyBinding>
    <legacyUnhandledExceptionPolicy enabled="1" />
  </runtime>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4" useGlobalLock="false">
      <listeners>
        <add name="textListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="trace.log"
             traceOutputOptions="Timestamp" />
      </listeners>
    </trace>
    <switches>
      <add name="Default" value="Info" />
    </switches>
  </system.diagnostics>
</configuration>